@media screen and (max-width: 1600px){
	.introcontainer {margin:0; left:0;}
	.screen{
		width: 100%!important;
	}
	.screencontent .question{
		width: 96%!important;
		padding: 0 2%!important;
	}
	

	.screen.result .generalcontent p{
		padding: 0 10px!important;

	}
	.button.consult.fix p{
		padding: 0!important;
	}
	/*.generalcontent p{
			font-size: 16px;
	}*/

	.container{padding-bottom:0;}
	.manpos {width:28%}
	
}
@media screen and (max-width: 1240px){
	.insuline_tekst{font-size:20px; width:50%;}

}

@media screen and (max-width: 850px){
	
	/*.questioncontainer {height:auto; margin-bottom:2%;}*/
	/*.container {height:auto;}
	.boxed{overflow:auto;}*/
	.man {position:relative;}
	.manpos {width:320px}
	.insuline_tekst{width:80%;}
	.intro-footer img {max-width:20%; height:auto;} .choicelist li.choice input[type="radio"] + label span, .choicelist li.choice input[type="checkbox"] + label span { width:45px; height:45px;}
	.questions {width:100%}

	
	a.to_left, a.to_right{
		width: 45%;
	}
	
	input[type="submit"] {font-size:18px !important;}
	.choicelist li{ display: inline-block; 	}
	.choicelistchoiceblock{  text-align: center;}
	.choicelistchoiceblock li{  display: inline-block;   zoom: .7;}
	.choicelist li.mayfit{ width: 90px; }
	ul li.choicetitle {  margin: 41px auto -20px; display: block;}

		.choicelist li.multicheck{
			width: auto;
			padding: 0px
		}
		.choicelist li.fullcheckwidth{
			width: 100%;
			padding: 0px
		}

	.content .inner-cont .screen.quiz .screencontent .question {
		margin:0 auto; position:relative; overflow:hidden; width:95%;
		font-size: 16px;
	}
	.content .inner-cont .screen.quiz .screencontent .question span.small{
		font-size: 16px;
	}
	.in-wrap{
		width: 96%!important;
	}
	.generalcontent{
		width: 90%!important;
		margin: 0 auto;
	}
		
	.title img{
		width: 100%!important;
		height: auto;
	}
	.halfcol_l, .halfcol_r{
		width: 100%;
		float: none;
		clear:both;
	}
	.space{
		display: none;
	}
	h2{font-size: 25px;}
	h1{font-size: 30px;}
	ul.questions li {
		font-size: 16px;
		margin-top: 10px;
						width: 42px;
						height: 42px;
						line-height: 42px;
	}
}

@media screen and (max-width: 480px){

}